/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #11101d;
}

form {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
}

label {
	font-weight: bold; 
	color: #11101d;
	margin-left: 15px;
}

input[type="text"], select {
	padding: 10px;
	border: 2px solid #ddd;
	margin: 10px 0px 15px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	color: #11101d;
	width: 95%;
}

.submitBtn {
	background-color: #11101d;
	color: #fff;
	border: none;
	padding: 12px 25px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	display: block;
	margin: 22px auto;
}

.submitBtn:hover {
	background: #4070f4;
}