/* 변수선언 */
:root {
  /* color */
  --allBorderColor: #333;

  /* margin + padding */
  --bigTopMargin: 20px;
  --bigBottomMargin: 20px;
  --mediumBottomMargin: 10px;
  --smallBottomMargin: 5px;
  --rightMargin: 5px;

  /* font */
  --fontColor: #333;
  --fontSize: 1em;

  /* button */
  --buttonBackColor: #eee;
  --buttonRadius: 5px;
  --buttonPadding: 5px 7px;
  --buttonFontSize: 0.9em;
  --buttonTransition: 0.3s;

  --buttonHoverBackColor: rgba(103, 103, 105, 0.767);
  --buttonHoverFontColor: #fff;

  /* container */
  --conMargin: 20px;
  --conPadding: 30px;
  --conBorder: 3px solid #eee;
  --conRadius: 20px;
  --conBack: #fff;

  /* title */
  --titleBottomPadding: 5px;
  --titleBottomMargin: 20px;
  --titleBorder: 1px solid var(--allBorderColor);
  --titleH3Size: 1.5em;

  /* table */
  --tableBorder: 1px solid var(--allBorderColor);
  --tablePadding: 7px;
  --tableHeadBackColor: #333;
  --tableHeadFontColor: #fff;
  --tableThColor: #eee;
  --tableThickBorder: 2px solid #808080;

  /* photo table */
  --photoTmargin: 10px;

  /* pagination */
  --pagiLiMargin: 5px;
  --pagiLiPadding: 5px;
  --pagiApadding: 0 3px;
  --pagiColor: rgb(123, 126, 131);
  --pagiBorder: 2px solid transparent;

  --pagiActiveColor: #333;
  --pagiActiveBorder: 2px solid #333;
}

/* 전체 설정 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--fontColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

input[type="button"] {
  background-color: transparent;
  border: none;
}

table,
td,
th {
  border-collapse: collapse;
}

/* container */
.container {
  margin: var(--conMargin);
  padding: var(--conPadding);
  border: var(--conBorder);
  border-radius: var(--conRadius);
  background-color: var(--conBack);
}

/* title */
.title {
  margin-bottom: var(--titleBottomMargin);
}

.title h3 {
  font-size: var(--titleH3Size);
  border-bottom: var(--titleBorder);
  padding-bottom: var(--titleBottomPadding);
  margin-bottom: var(--mediumBottomMargin);
}

/* content */
.content {
  width: 100%;
}

/* content - photo */
.content .photo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* content - photo - table */
.content .photo table {
  margin-right: var(--rightMargin);
  margin-bottom: var(--mediumBottomMargin);
  width: calc(100% / 4.1);
}

.content .photo td,
.content .photo th {
  border-top: var(--tableBorder);
}

.content .photo th,
.content .photo td {
  padding: var(--tablePadding);
}

.content .photo th {
  background-color: var(--tableThColor);
}

.content .photo tr:first-child th {
  border-bottom: var(--tableBorder);
}

.content .photo tr:nth-child(2) td {
  padding: 0;
  height: 300px;
}

.content .photo tr:last-child {
  border-bottom: var(--tableBorder);
}

.content .photo table img {
  width: 100%;
  height: 100%;
}

.content .photo tr:nth-child(3) th {
  width: 25%;
}

.content .photo tr:nth-child(3) td {
  text-align: center;
}

/* content - bottomMenu */
.content .bottomMenu {
  margin-top: var(--bigTopMargin);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content .bottomMenu .empty,
.content .bottomMenu .pagination,
.content .bottomMenu .button {
  width: calc(100% / 3);
}

/* content - bottomMenu - pagination */
.content .bottomMenu .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .bottomMenu .pagination li {
  padding: var(--pagiLiPadding);
  margin: var(--pagiLiMargin);
}

.content .bottomMenu .pagination li a {
  color: var(--pagiColor);
  padding: var(--pagiApadding);
  border: var(--pagiBorder);
}

.content .bottomMenu .pagination li.active a {
  color: var(--pagiActiveColor);
  font-weight: bold;
  border-bottom: var(--pagiActiveBorder);
}

/* content - bottomMenu - button */
.content .bottomMenu .button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content .bottomMenu .button button {
  background-color: var(--buttonBackColor);
  border-radius: var(--buttonRadius);
  padding: var(--buttonPadding);
  font-size: var(--buttonFontSize);
  font-weight: bold;
  transition: var(--buttonTransition);
}

.content .bottomMenu .button button:hover {
  background-color: var(--buttonHoverBackColor);
  color: var(--buttonHoverFontColor);
}

.content .bottomMenu .button button:first-child {
  margin-right: var(--rightMargin);
}

.content .bottomMenu .button button:last-child {
  margin-right: 0;
}

/* 반응형웹 */
@media screen and (max-width: 900px) {
  .content .photo {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .content .photo table {
    width: 80%;
  }

  .content .photo tr:nth-child(2) td {
    padding: 0;
    height: 500px;
  }
}

.container-fluid {
	padding-top: 100px !important;
}

tbody {
    border: solid 5px #eee;
}