/* 변수 선언 */
:root {
  /* color */
  --main-color: #333;
  --hover-color: grey;
  --basic-color: #eee;
  --table-hover-color: #eee;
  --background-color: lightgrey;
  --white-color: #fff;

  --search-border-color: grey;
  
  /* pagination */
  --pagiLiMargin: 5px;
  --pagiLiPadding: 5px;
  --pagiApadding: 0 3px;
  --pagiColor: rgb(123, 126, 131);
  --pagiBorder: 2px solid transparent;

  --pagiActiveColor: #333;
  --pagiActiveBorder: 2px solid #333;
  
  --bottomMargin: 20px;
  --mediumBottomMargin: 10px;
  --smallBottomMargin: 5px;

  /* font */
  --fontColor: #333;

  --smallFontSize: 0.9em;
  --smallFontColor: #808080;

  /* container */
  --containerBorder: 3px solid #eee;
  --containerPadding: 30px;
  --containerMargin: 20px;
  --containerBorderRadius: 20px;
  --containerBackColor: #fff;

  /* title */
  --titleBorder: 3px solid #eee;
  --titlePadding: 10px 20px;
  --titleMargin: 20px;

  /* table */
  --tableBorder: 1px solid #333;
  --tablePadding: 10px 15px;

  --tableInputPadding: 7px 8px;
  --tableRadioMargin: 0 5px;

  --tableImgWSize: 120px;
  --tableImgHSize: 160px;

  --tableBottomMargin: 20px;

  /* button */
  --buttonBackColor: #eee;
  --buttonRadius: 5px;
  --buttonPadding: 5px;
  --buttonFontSize: 0.9em;
  --buttonTransition: 0.3s;

  --buttonHoverBackColor: rgba(103, 103, 105, 0.767);
  --buttonHoverFontColor: #fff;
}

/* css 기본설정 */
* {
  padding: 0px;
  margin: 0px;
  color: var(--main-color);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="button"] {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

/* member */
.member {
  background-color: var(--white-color); 
  border: 3px solid var(--basic-color);
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}

/* Member Top */
.memberTop {
  margin-bottom: 20px;
}

.memberTop .title {
  padding: 5px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.memberTop .memberMenu {
  display: flex;
  justify-content: flex-start;
}
 
/* .memberTop .memberMenu button { */
/*   margin-right: 10px; */
/*   padding: 5px; */
/*   border-radius: 5px; */
/*   font-size: 0.9em; */
/*   font-weight: bold; */
/*   color: var(--main-color); */
/*   background-color: var(--basic-color); */
/*   transition: 0.3s; */
/* } */

.memberTop .memberMenu button:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
}

/* Page Title */
.pageTitle {
  border: 3px solid var(--basic-color);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.pageTitle h3 {
  text-align: center;
}

/* Member Table  - table top menu*/
.memberTable .tableTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}

.memberTable .tableTop .tableBtn button {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--basic-color);
  transition: 0.3s;
}

.memberTable .tableTop .tableBtn button:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
}

.memberTable .tableTop .totalMember {
  font-size: 0.9em;
}

.memberTable .memberListTable {
  display: flex;
}

/* Member Table  - table */
table,
td {
  border-collapse: collapse;
}

td {
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
}

.memberTable table {
  width: 100%;
}

.memberTable table thead td {
  background-color: var(--main-color);
  color: var(--white-color);
}

.memberTable table tbody td {
  padding: 7px;
}

.memberTable table tbody tr:hover {
  background-color: var(--table-hover-color);
}

.col1{
	width:2%;
}

.col2, .col3, .col5, .col7, .col8{
	width:7%;
}

.col6{
	width:10%;
}

.col4, .col9{
	width:12%
}

.col10, .col11{
	width:10%;
}

/* Member Table  - table bottom info*/
.memberTable .tableInfo {
	border-top:2px solid #333;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.memberTable .tableInfo > div {
  width: calc(100% / 3);
}

.memberTable .tableInfo .search {
  display: flex;
  justify-content: flex-end;
}

.memberTable .tableInfo .search select,
.memberTable .tableInfo .search input {
  padding: 5px 0;
  font-size: 0.9em;
}

.memberTable .tableInfo .search select {
	width:100px;
  border-right: 1px solid var(--search-border-color);
  background-color: transparent;
  text-align: left;
  padding-left: 5px;
  border:1px solid var(--search-border-color);
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.memberTable .tableInfo .search input[type="text"] {
  width: 80%;
	border:1px solid var(--search-border-color);
 	border-right:transparent;
	border-left:transparent;
}

.memberTable .tableInfo .search input[type="button"] {
  width:70px;
  background-color: var(--basic-color);
  border:1px solid var(--search-border-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
}

/*page nation*/

#pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style:none;
}

#pagenation li {
  padding: var(--pagiLiPadding);
  margin: var(--pagiLiMargin);
}

#pagenation li a {
  color: var(--pagiColor);
  padding: var(--pagiApadding);
  border: var(--pagiBorder);
}

#pagenation li.active a {
  color: var(--pagiActiveColor);
  font-weight: bold;
  border-bottom: var(--pagiActiveBorder);
}