/* 변수 선언 */
:root {
  /* color */
  --main-color: #333;
  --hover-color: grey;
  --basic-color: #eee;
  --table-hover-color: #eee;
  --background-color: lightgrey;
  --white-color: #fff;

  --search-border-color: grey;
}

/* css 기본설정 */
* {
  padding: 0px;
  margin: 0px;
  color: var(--main-color);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="button"],
input[type="reset"] {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

/* member */
.member {
  background-color: var(--white-color);
  border: 3px solid var(--basic-color);
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}

/* Page Title */
.pageTitle {
  border: 3px solid var(--basic-color);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.pageTitle h3 {
  text-align: center;
}

/* Member View Table */
.memberViewTable {
  margin: 20px 0 0;
}

.memberViewTable p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.memberViewTable table {
  margin-bottom: 20px;
}

table,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 15px;
}

tr {
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

tr:first-child {
  border-top: none;
}

tr td input[type="text"],
tr td textarea {
  width: 100%;
  padding: 7px;
  font-size: 0.9em;
}

tr td input[type="radio"] {
  margin: 7px 0;
}

tr td select {
  width: 200px;
  padding: 7px;
  font-size: 0.9em;
}

td:first-child {
  width: 170px;
}

/* buttons */
.memberViewTable .buttons {
  display: flex;
  justify-content: flex-end;
}

.memberViewTable .buttons input[type="button"],
.memberViewTable .buttons input[type="reset"] {
  background-color: var(--basic-color);
  border-radius: 5px;

  display: inline-block;
  width: 65px;
  padding: 7px 0;
  font-size: 0.9em;

  margin-left: 10px;

  transition: 0.3s;
}

.memberViewTable .buttons input[type="button"]:hover,
.memberViewTable .buttons input[type="reset"]:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  font-weight: bold;
}
