/******************/
/* 마이페이지 영역 */
/******************/
#container {
	margin: 20px;
	padding: 30px 30px 15px;
	background-color: #fff;
	border: 3px solid #eee;
	border-radius: 20px;
}

/* 내 정보 */
#title {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.space {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* 출근 */
.buttonwork {
	position: relative;
	font-size: 14px;
	background-color: transparent;
	float: right;
	padding: 0px 0px;
	border: 0px;
	color: #000; /* 화살표 색은 검정 */
	font-weight: bold; /* 굵게 */
	opacity: 0.6; /* 반투명 */
}

.buttonwork:hover {
	background-color: transparent; /* 짙은 회색 배경 */
	color: #000;
	opacity: 1;
	cursor: pointer; /* 커서 모양을 포인터로 */
}

/* 내 정보 사진 */
#boximg {
	display: inline-block;
}

#boximg img {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin: 25px 15px 0px 25px;
}

.inlineblock {
	display: inline-block;
}

/* 아이디, 이름, 소속, 직위 */
.box1 {
	display: inline-block;
	width: 32.2%;
	min-width: 193px;
	/* padding-top:0; */
	padding-left: 30px;
	margin-top: 25px;
	margin-left: 10px;
}

.box2 {
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
	border-radius: 10px;
	padding: 20px;
}

/* 이메일, 전화번호, 생년월일 */
.box3 {
	display: inline-block;
	width: 45.33%;
	min-width: 320px;
	padding-left: 30px;
	margin-top: 25px;
	margin-left: 10px;
}

.box4 {
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #e3e6f0;
	border-radius: 10px;
	padding: 20px;
}

.buttonbox {
	position: relative;
	font-size: 13px;
	background-color: transparent;
	float: right;
	padding: 0px 0px;
	border: 0px;
	color: #000; /* 화살표 색은 검정 */
	font-weight: bold; /* 굵게 */
	opacity: 0.6; /* 반투명 */
}

.buttonbox:hover {
	background-color: transparent; /* 짙은 회색 배경 */
	color: #000;
	opacity: 1;
	cursor: pointer; /* 커서 모양을 포인터로 */
}

.boxtext {
	padding-top: 10px;
	font-size: 17px;
	font-weight: bold;
}

.pwdbox {
	font-size: 17px;
	font-weight: bold;
}

.pwdbox:hover {
	font-size: 17px;
	font-weight: bold;
	color: red;
}

.pwdbox:active {
	font-size: 17px;
	font-weight: bold;
	color: blue;
}

.nonebox {
	display: none;
}

.blockbox {
	display: block;
}

.boxcursor {
	cursor: pointer;
}

.inputbox {
	display: none;
	width: 220px;
}