@charset "UTF-8"; 

table {
	width: 100%;
}

table, th, td {
	border: 1px solid transparent;
	border-collapse: collapse;
	text-align: center;
}

td {
	padding: 18px 0 4px 0;
}

td:first-child, th:first-child {
	width: 26%
}

td:nth-child(2), th:nth-child(2) {
	width: 23%
}

td:nth-child(3), th:nth-child(3) {
	width: 23%
}

td:nth-child(4), th:nth-child(4) {
	width: 14%
}

td:last-child, th:last-child {
	width: 14%
}

thead {
	background-color: #11101d;
	color: #fff;
	font-weight: bold;
}