/* 변수 선언 */
:root {
  --bottomMargin: 20px;
  --mediumBottomMargin: 10px;
  --smallBottomMargin: 5px;

  /* font */
  --fontColor: #333;

  --smallFontSize: 0.9em;
  --smallFontColor: #808080;

  /* container */
  --containerBorder: 3px solid #eee;
  --containerPadding: 30px;
  --containerMargin: 20px;
  --containerBorderRadius: 20px;
  --containerBackColor: #fff;

  /* title */
  --titleBorder: 3px solid #eee;
  --titlePadding: 10px 20px;
  --titleMargin: 20px;

  /* table */
  --tableBorder:  1px solid #333;
  --tablePadding: 10px 15px;

  --tableInputPadding: 7px 8px;
  --tableRadioMargin: 0 5px;

  --tableImgWSize: 120px;
  --tableImgHSize: 160px;

  --tableBottomMargin: 20px;

  /* button */
  --buttonBackColor: #eee;
  --buttonRadius: 5px;
  --buttonPadding: 5px;
  --buttonFontSize: 0.9em;
  --buttonTransition: 0.3s;

  --buttonHoverBackColor: rgba(103, 103, 105, 0.767);
  --buttonHoverFontColor: #fff;
}

/* css 기본설정 */
* {
  padding: 0px;
  margin: 0px;
  color: var(--fontColor);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="button"],
input[type="reset"] {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

/* member */
.member {
  border: var(--containerBorder);
  border-radius: var(--containerBorderRadius);
  padding: var(--containerPadding);
  margin: var(--containerMargin);
  background-color: var(--containerBackColor);
}

/* Page Title */
.pageTitle {
  border: var(--titleBorder);
  padding: var(--titlePadding);
  margin-bottom: var(--titleMargin);
}

.pageTitle h3 {
  text-align: center;
}

/* Member View Table */
.memberViewTable {
  width: 100%;
}

.memberViewTable p {
  font-size: var(--smallFontSize);
  color: var(--smallFontColor);
  margin-bottom: var(--mediumBottomMargin);
}

/* Member View Table - table */
.memberViewTable table {
  width: 100%;
  margin: var(--tableBottomMargin);
}

.memberViewTable table,
.memberViewTable table td {
  border-collapse: collapse;
}

.memberViewTable table td {
  padding: var(--tablePadding);
  border-bottom: var(--tableBorder);
}

.memberViewTable table colgroup col:first-child,
.memberViewTable table colgroup col:nth-child(2) {
  width: 15%;
}

.memberViewTable table td > textarea,
.memberViewTable table td > input[type="text"],
.memberViewTable table td > select {
  padding: var(--tableInputPadding);
}

.memberViewTable table td img,
.memberViewTable table td>div img {
  width: 100%;
/*   height: 100%; */
}

.memberViewTable table td > textarea,
.memberViewTable table td > input[type="text"],
.memberViewTable table td > select {
  padding: var(--tableInputPadding);
}

.memberViewTable table td > textarea {
  width: 100%;
  height: 100px;
}

.memberViewTable table td > input[type="text"] {
  width: 60%;
}

.memberViewTable table td > select{
	width:40%;
}

.memberViewTable table td > button,
.memberViewTable table td > input[type="button"] {
  background-color: var(--buttonBackColor);
  padding: var(--buttonPadding);
  border-radius: var(--buttonRadius);
  font-size: var(--buttonFontSize);
  transition: var(--buttonTransition);
}

.memberViewTable table td > button:hover,
.memberViewTable table td > input[type="button"]:hover {
  background-color: var(--buttonHoverBackColor);
  color: var(--buttonHoverFontColor);
  font-weight: bold;
}

/* Member View Table - buttons */
.memberViewTable .buttons {
  display: flex;
  justify-content: flex-end;
}

.memberViewTable .buttons input {
  background-color: var(--buttonBackColor);
  font-size: var(--buttonFontSize);
  border-radius: var(--buttonRadius);
  padding: var(--buttonPadding);
  transition: var(--buttonTransition);
  margin-right: 5px;
}

.memberViewTable .buttons input[type="button"]:last-child {
  margin-right: 0;
}

.memberViewTable .buttons input:hover {
  background-color: var(--buttonHoverBackColor);
  color: var(--buttonHoverFontColor);
  font-weight: bold;
}
