/* 변수 선언 */
:root {
  /* color */
  --main-color: #333;
  --hover-color: grey;
  --basic-color: #eee;
  --table-hover-color: #eee;
  --background-color: lightgrey;
  --white-color: #fff;

  --search-border-color: grey;
  
  --bottomMargin: 20px;
  --mediumBottomMargin: 10px;
  --smallBottomMargin: 5px;

  /* font */
  --fontColor: #333;

  --smallFontSize: 0.9em;
  --smallFontColor: #808080;

  /* container */
  --containerBorder: 3px solid #eee;
  --containerPadding: 30px;
  --containerMargin: 20px;
  --containerBorderRadius: 20px;
  --containerBackColor: #fff;

  /* title */
  --titleBorder: 3px solid #eee;
  --titlePadding: 10px 20px;
  --titleMargin: 20px;

  /* table */
  --tableBorder: 1px solid #333;
  --tablePadding: 10px 15px;

  --tableInputPadding: 7px 8px;
  --tableRadioMargin: 0 5px;

  --tableImgWSize: 120px;
  --tableImgHSize: 160px;

  --tableBottomMargin: 20px;

  /* button */
  --buttonBackColor: #eee;
  --buttonRadius: 5px;
  --buttonPadding: 5px;
  --buttonFontSize: 0.9em;
  --buttonTransition: 0.3s;

  --buttonHoverBackColor: rgba(103, 103, 105, 0.767);
  --buttonHoverFontColor: #fff;
}

/* css 기본설정 */
* {
  padding: 0px;
  margin: 0px;
  color: var(--main-color);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input[type="button"] {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

/* member */
.member {
  background-color: var(--white-color);
  border: 3px solid var(--basic-color);
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}

/* Member Top */
.memberTop {
  margin-bottom: 20px;
}

.memberTop .title {
  padding: 5px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.memberTop .memberMenu {
  display: flex;
  justify-content: flex-start;
}

/* .memberTop .memberMenu button { */
/*   margin-right: 10px; */
/*   padding: 5px; */
/*   border-radius: 5px; */
/*   font-size: 0.9em; */
/*   font-weight: bold; */
/*   color: var(--main-color); */
/*   background-color: var(--basic-color); */
/*   transition: 0.3s; */
/* } */

.memberTop .memberMenu button:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
}


/* Page Title - 제목 */
.pageTitle {
  border: 3px solid var(--basic-color);
  background-color: var(--white-color);
  padding: 10px 20px;
  margin-bottom: 20px;
/*   position: sticky; */
/*   top: 80px; */

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pageTitle h3 {
  width: 70%;
  text-align: center;
}

/* Page Title - buttons */
.pageTitle .buttons {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.pageTitle .buttons input[type="button"] {
  background-color: var(--basic-color);
  border-radius: 5px;

  display: inline-block;
  width: 65px;
  padding: 7px 0;
  font-size: 0.9em;

  margin-left: 10px;

  transition: 0.3s;
}

.pageTitle .buttons input[type="button"]:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  font-weight: bold;
}

/* Member View Table - memberTable */
.memberViewTable table {
  margin-bottom: 20px;
}

table,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

tr {
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

tr:first-child {
  border-top: none;
  border-bottom: 2px solid var(--hover-color);
}

tr:last-child {
  border-bottom: 2px solid var(--hover-color);
}

.memberTable tr td:first-child,
.memberTable tr td:nth-child(3) {
  background-color: var(--table-hover-color);
  text-align: center;
  font-weight: bold;
  width: 15%;
}

.memberTable tr td:nth-child(2),
.memberTable tr:last-child {
  width: 35%;
}

.memberViewTable .memberTable tr:first-child td img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.memberTable tr:first-child td {
  background-color: transparent;
}

.memberTable tr:last-child td:first-child {
  background-color: transparent;
}

/* MemberViewTable - workInfo */
.workInfo thead tr:first-child {
  border-bottom: none;
}

.workInfo thead tr:last-child {
  border-top: none;
}

.workInfo thead tr:first-child td {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.workInfo tbody tr:first-child td {
  font-weight: bold;
  background-color: var(--table-hover-color);
}

.workInfo tbody tr td:first-child {
  font-weight: bold;
  background-color: var(--table-hover-color);
}

.workInfo tbody td {
  text-align: center;
}

.workInfo td {
  width: calc(100% / 13);
}

/* memberViewTable - workInfo - button */
.memberViewTable .workInfo thead tr:last-child button {
  display: inline-block;
  background-color: var(--basic-color);
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
  float: right;
  transition: 0.3s;
}

.memberViewTable .workInfo thead tr:last-child button:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  font-weight: bold;
}
