*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration:none;
  color:#11101d;
}
ul{
  list-style:none;
}

.container{
  margin:20px;
  background-color:#fff;
  padding:30px;
  border:3px solid #eee;
  border-radius:20px;
}

/*________________________________*/

.calenderTitle{
  border:3px solid #eee;
  padding:10px 20px;
  margin-bottom:20px;
}

.yearArea{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 0;
}

.prevYear, .nextYear{
  font-size:0.85em;
  color:grey;
}

/*________________________________*/

.content{
  border-top:2px solid #11101d;
  border-bottom:2px solid #11101d;
  padding:0 20px;
}

/*________________________________*/

table, td{
	border-collapse:collapse;
/* 	border:1px solid #333; */
}

table{
	width:100%;
	margin:20px 0;
	border-bottom:1px solid #333;
}

table:last-child{
	border-bottom:1px solid transparent;
}

td{
	padding:15px;
}

.col1{
	width:15%;
}

.col2{
	width:20%;
}

span.week{
	padding:30px 33px;;
	text-align: center;
	background-color:#eee;
	border-radius:50%;
/* 	font-weight:bold; */
}

tr:first-child td{
	text-align: center;
}

td:last-child,
tr:first-child td:last-child{
	text-align:left;
}