*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration:none;
  color:#11101d;
}

.container{
  margin:20px;
  background-color:#fff;
  padding:30px;
  border:3px solid #eee;
  border-radius:20px;
}

/*________________________________*/

.calenderTitle{
  border:3px solid #eee;
  padding:10px 20px;
}

.yearArea, .monthArea{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 0;
}

.yearArea{
  border-bottom:1px solid grey;
}

.prevYear, .nextYear{
  font-size:0.85em;
  color:grey;
}

.monthArea input{
  font-size:0.95em;
  display:inline-block;
  padding:3px 15px;
  text-align:center;
  border-radius:5px;
  transition:0.3s;
  border:none;
}

.monthArea input:hover{
  background:grey;
  color:#fff;
  font-weight:bold;
}

.active{
  background:#11101d;
  color:#fff;
  font-weight:bold;
}

/*________________________________*/

.content{
  width:100%;
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}

.calender{
	width:39%;
}

.list{
	width:59%;
}
/*________________________________*/

.calender, .list{
  border:3px solid #eee;
}

/*________________________________*/

.content table{
  width:100%;
}

.content table, .content td{
  border-collapse:collapse;
}

.content td{
  padding:8px;
}

.content thead{
  background:#11101d;
  color:#fff;
  font-weight:bold;
  text-align:center;
}

.tableHead td{
  background:#fff;
  color:#11101d;
  font-size:1.1em;
}

/*________________________________*/

.calender td{
	text-align:center;
}

.calendar tbody tr td:first-child{
	color:red;
}

.calendar tbody tr td:last-child{
	color:blud;
}

/*________________________________*/

.list td:first-child{
  width:35%;
  text-align:center;
}

.list tbody td{
  font-size:0.95em;
}

@media screen and (max-width:800){
	.content{
		flex-direction:columns;
	}
}