*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration:none;
  color:#11101d;
}
ul{
  list-style:none;
}

.container{
  margin:20px;
  background-color:#fff;
  padding:30px;
  border:3px solid #eee;
  border-radius:20px;
}

/*________________________________*/

.calenderTitle{
  border:3px solid #eee;
  padding:10px 20px;
  margin-bottom:20px;
}

.yearArea, .monthArea{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 0;
}

.prevYear, .nextYear{
  font-size:0.85em;
  color:grey;
}

/*________________________________*/

table{
  min-width:1200px;
  margin:0 auto;
  margin-bottom:20px;
}

table, td{
  border-collapse: collapse;
}

thead td{
  text-align:center;
  font-weight:bold;
  font-size:1.1em;
  background-color:#11101d;
  color:#fff;
  padding:5px;
}

.tableHead td{
  background-color:#fff;
  color:#11101d;
}

tbody td{
  padding:8px;
  font-size:0.95em;
}

td:first-child{
  text-align:center;
  width:40%;
}

tbody tr:last-child{
  border-bottom:2px solid #11101d;
}

/*________________________________*/

#pagenation{
	display:flex;
	justify-content:center;
	align-items:center;
}

#pagenation button{
	border:none;
	background-color:transparent;
	text-align:center;
	padding:3px;
	width:20px;
	font-size:0.9em;
	margin:5px;
	border:1px solid #fff;
}

#pagenation button.active{
	color:blue;
	border-bottom:1px solid blue;
}

@media screen and (max-width: 1200px){
	table{
	min-width:10%;
	width:100%;
	}
}