/* 변수 선언 */
:root {
  /* 전체 color */
  --allfontColor: #333;
  --allBorderColor: #333;
  --allTheadColor: #333;
  --borderColor: #eee;
  --bodyColor: #b9b9b9;
  --trHoverColor: rgba(103, 103, 105, 0.288);
  --backColor: #fff;
  --blackColor: #333;
  --whiteColor: #fff;
  --grayColor: rgb(123, 126, 131);
  --redColor: rgb(216, 50, 50);
  --blueColor: rgb(46, 79, 224);

  /* 전체 padding + margin */
  --allMargin: 20px;
  --allPadding: 30px;
  --allBottomMargin: 20px;
  --allRightMargin: 15px;
  --tablePadding: 7px 5px;
  --buttonMargin: 0 5px 5px;

  /* 전체 button */
  --buttonBorderRadius: 5px;
  --bottonColor: rgba(103, 103, 105, 0.288);
  --buttonHoverColor: rgba(103, 103, 105, 0.767);
  --buttonActiveColor: rgb(103, 103, 105);
  --buttonPadding: 5px;

  /* 전체 size */
  --allfontSize: 1em;
  --smallFontSize: 0.9em;
  --largeFontSize: 1.25em;
  --talbeTitleSize: 1.1em;

  /* calendarTitle */
  --titlePadding: 10px 20px;
  --titlePaddingMonth: 10px 20px 5px;
  --bottomPadding: 5px;
  --bottomMargin: 10px;
  --monthWidth: 35px;
  --monthPadding: 5px;

  /* pagination */
  --pageLiMargin: 5px;
  --pageLiPadding: 5px;
  --pageAPadding: 0 3px;
  --pageColor: rgb(123, 126, 131);
  --pageActiveColor: #333;
  --pageActiveBorderColor: #333;
}

/* 페이지 전체 공통 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--allfontColor);
  border-color: var(--allBorderColor);
  font-family: sans-serif;
  font-size: var(--allfontSize);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

input[type="button"] {
  background-color: transparent;
  border: none;
}

table,
td,
th {
  border-collapse: collapse;
}

/* 시작 */

body {
  background-color: var(--bodyColor);
}

.container {
  margin: var(--allMargin);
  padding: var(--allPadding);
  background-color: var(--backColor);
  border: 3px solid var(--borderColor);
  border-radius: 20px;
}

/* calenderTitle */
.calenderTitle {
  border: 3px solid var(--borderColor);
  padding: var(--titlePadding);
  margin-bottom: var(--allBottomMargin);
}

/* calenderTitle - yearArea */
.calenderTitle .yearArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calenderTitle .yearArea button,
.calenderTitle .yearArea button span {
  color: var(--grayColor);
  font-size: var(--smallFontSize);
}

.calenderTitle .yearArea h3 {
  font-size: var(--largeFontSize);
}

/* content */
.content {
  width: 80%;
  margin: 0 auto;
}

/* content - monthSchedule */
.content table.MonthSchedule {
  width: 100%;
}

.content table.MonthSchedule .col1 {
  width: 40%;
}

.content table.MonthSchedule td {
  text-align: center;
  padding: var(--tablePadding);
}

.content table.MonthSchedule tbody td:last-child {
  text-align: left;
}

.content table.MonthSchedule thead td {
  background-color: var(--allTheadColor);
  color: var(--whiteColor);
  font-weight: bold;
}

.content table.MonthSchedule thead tr.tableHead td {
  background-color: var(--whiteColor);
  color: var(--allfontColor);
  font-size: var(--talbeTitleSize);
}

.content table.MonthSchedule tbody tr:last-child td {
  border-bottom: 2px solid var(--allBorderColor);
}

.content table.MonthSchedule {
  margin-bottom: var(--allBottomMargin);
}

/* content - pagination */
.content #pagenation {
  display: flex;
  justify-content: center;
}

.content #pagenation li {
  margin: var(--pageLiMargin);
  padding: var(--pageLiPadding);
}

.content #pagenation li a {
  text-align: center;
  color: var(--pageColor);
  padding: var(--pageAPadding);
}

.content #pagenation li.active a {
  font-weight: bold;
  color: var(--pageActiveColor);
  border-bottom: 2px solid var(--pageActiveBorderColor);
}

@media screen and (max-width: 850px) {
  .content {
    width: 100%;
  }

  .calenderTitle .yearArea {
    justify-content: space-around;
  }

  .calenderTitle .yearArea button span {
    display: none;
  }
}
