*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration:none;
  color:#11101d;
}
ul{
  list-style:none;
}

.container{
  margin:20px;
  background-color:#fff;
  padding:30px;
  border:3px solid #eee;
  border-radius:20px;
}

/*________________________________*/

.calenderTitle{
  border:3px solid #eee;
  padding:10px 20px;
  margin-bottom:20px;
}

.yearArea, .monthArea{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 0;
}

.prevYear, .nextYear{
  font-size:0.85em;
  color:grey;
}

/*________________________________*/

table{
  width:100%;
  margin-bottom:20px;
}

table, td{
  border-collapse: collapse;
}

thead td{
  text-align:center;
  font-weight:bold;
  font-size:1.1em;
  background-color:#11101d;
  color:#fff;
  padding:5px;
}

.tableHead td{
  background-color:#fff;
  color:#11101d;
}

tbody td{
  padding:8px;
  font-size:0.95em;
}

td:first-child{
  text-align:center;
  width:40%;
}

tbody tr:last-child{
  border-bottom:2px solid #11101d;
}