*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.scheduleTop .title{
  padding:5px;
  border-bottom:1px solid;
  margin-bottom:10px;
}

.scheduleTop .scheduleMenu{
  display:flex;
  justify-content:space-between;
}

.scheduleTop .scheduleMenu button{
  border:none;
  padding:5px;
  border-radius:5px;
  font-size:0.9em;
  font-weight:bold;
  color:#333;
  background-color:#eee;
  transition:0.3s;
}

.scheduleTop .scheduleMenu button:hover{
  color:#fff;
  background-color:grey;
}

.scheduleTop .scheduleMenu .linkBtn button{
	margin-right:5px;
}

.scheduleTop .scheduleMenu .linkBtn .acting{
	background-color:#333;
	color:#fff;
}

.scheduleTop{
  margin-bottom:20px;
}