/* Member Top */
.memberTop {
  margin-bottom: 20px;
}

.memberTop .title {
  padding: 5px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.memberTop .memberMenu {
  display: flex;
  justify-content: flex-start;
}

.memberTop .memberMenu button {  
  font-weight: bold;
  background-color: var(--buttonBackColor);
  font-size: var(--buttonFontSize);
  border-radius: var(--buttonRadius);
  padding: var(--buttonPadding);
  transition: var(--buttonTransition);
  margin-right: 10px;
}

.memberTop .memberMenu button:hover {
  background-color: var(--buttonHoverBackColor);
  color: var(--buttonHoverFontColor);
}